.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    padding-top: 60px;
    
    /* status-bar의 position: fixed로 인해 screen-header가 위로 올라가는 경우
    위에 패딩을 늘리는 방법 */
    /* 아니면 screen-header도 고정시키는 방법도 있다.
    position: fixed;
    width: 100%;
    box-sizing: border-box; */
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;
    /* span 꼭 적어주기 */
}