

.user-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 좌우 패딩 값은 friends.css에 있음 */
    /* column 두 개가 옆으로 정렬된 것 */
}
.user-component__column,
.user-component__column:first-child {
    /* h4랑 img 둘 다 해당되는 것임 */
    display: flex;
    align-items: center;
}

.user-component__avatar {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    margin-right: 20px;

}
.user-component__title {
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle {
    margin-top: 5px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.3);
}

.user-component__avatar--xl {
    width: 90px;
    height: 90px;
}
.user-component__avatar--sm {
    width: 70px;
    height: 70px;
    border-radius: 30px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.friends-screen__channel {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.3);
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.3);
}

.user-component__profile {
    padding-top: 120px;
}